<!DOCTYPE html>
<html>
<head>
  <title>Firstproject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<style type="text/css">
#id-brand{
	width:300px;
	float:left;
}

table{padding:20px;
}

td{width:200px;
text-align:center;

}
</style>
<body onresize = "adjustWidth()" onload="document.onkeydown=keyf">
<canvas id="myCanvas"></canvas>
    <div id="id-all" class="all"  >
      <div id="id-top" calss="top">
      <div id="id-brand" class="brand"><%=link_to image_tag("#{'logo.png'}"),introduce_index_path%></div>
	<div id="menu"  style=" width:800px;height: 80px;margin-left: 100px; margin-top: 20px;">
	<table>
	<tr>
		<td><%=image_tag("#{'menu_dashnba.png'}")%></td>
		<td><%=image_tag("#{'menu_garbage.png'}")%></td>
		<td><%=image_tag("#{'menu_people.png'}")%></td>
		<td><%=image_tag("#{'menu_login.png'}")%></td>
	</tr>
	<tr>
	<td><%=link_to "大山背介紹", introduce_briefIntro_path%></td>
	<td><%=link_to "“換”想大山背", mission_index_path%></td>
	<td><%=link_to "關於我們", introduce_aboutus_path%></td>
	<td><% if current_user %>
	    			Signed in as <strong><%= current_user.name %></strong>!
	    			<%= link_to "登出", signout_path, id: "sign_out" %>
	  			<% else %>
	    			<%= link_to "登入", "/auth/facebook", id: "sign_in" %>
  			<% end %>
	</td>
	</tr>
	</table>
</div>
          
   
      </div>
      <div id="id-main" class="main">
        <%= yield%>
      </div>
      <div id="id-bottom" class="bottom" style="margin-left: 0px; height: 100px; background-color: #000000; width: 1000px;"><%=image_tag("#{'copyright.png'}")%></div>


    </div>


</body>
</html>
<script>

	adjustWidth();
        function adjustWidth(){
                var w = 0;
                var mysize = 1000; 
                if (document.body.clientWidth){ 
                        w = document.body.clientWidth;    
                }
                var allDiv = document.getElementById("id-all");
                var posCanvas = document.getElementById("myCanvas");
                var st = (w-1000)/2;
                if(st>0){
                        allDiv.style.left = st+"px";
                        posCanvas.style.left = st+"px";
                }
        }
     function deleBack(){
                //var deleback = document.getElementById("id-main");
                //deleback.background-color = "black";
        } 
    </script>
