<%= stylesheet_link_tag    "mission_index", :media => "all" %>


<body>
<%=image_tag("#{'exchange.png'}")%>
<div id="sign">
<%=link_to "請按此前往報名", new_mission_path%>
</div>

<div id="list">
<h1>
報名名單-------------------------------------
</h1>
<table class="missions">
	<thead>
		<tr>
			<th width=75px>姓名</th>
			<th>參加人數</th>
			<th>時間</th>
			<th width=75px>地點</th>
			<th width=75px>禮物</th>
			<th width=75px>備註</th>
		</tr>
	</thead>
	<tbody>
		<% @missions.each do |mission| -%>
                        <tr>
                                <td><%=mission.c_name%></td>
				<td><%=mission.num_of_people%></td>
                                <td><%=mission.start%></td>
				<td><%=mission.place%></td>
				<td><%=mission.gift%></td>
				<td><%=mission.request%></td>
                        </tr>	
		<% end-%>
	</tbody>


</table>
</div>
</body>
