<%= stylesheet_link_tag    "mission_new", :media => "all" %>


<body>
<h1>歡迎和我們一起“換”想大山背</h1>
<div id="out">
<div id="sign_up">
<%= form_tag '/mission', :method=>nil  do %>
	<%= label :mission, :venderdetail_id, 'vender_id'%>
        <%= text_field :mission, :venderdetail_id, :value=>1%>

	<%= label :mission, :c_phone,'phone'%>
	<%= text_field :mission, :c_phone%>

        <%= label :mission, :c_email,'email'%>
        <%= text_field :mission, :c_email%>

        <%= label :mission, :c_name, '姓名'%>
        <%= text_field :mission, :c_name, :value=>current_user.name%>

	<%= label :mission, :num_of_people, '參加人數'%>
        <%= select :mission, :num_of_people, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]%>

        <%= label :mission, :start, '時間'%>
        <%= datetime_select :mission, :start%>

	<%= label :mission, :gift, '禮物'%>
	<%= select :mission, :gift, ['大嬸婆的家 - 手工窯烤麵包','高頂農莊 - 客家料理','大山背人文生態館 - 望遠鏡']%>
	<div id="test">
        <%= submit_tag '確定'%>
	</div>

<% end%>
</div>
</div>
</body>
